version: '3.8'

services:
  db:
    image: postgres:15-alpine  # 안정적인 15버전 자동 다운로드
    container_name: nexus_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=nexus_user
      - POSTGRES_PASSWORD=nexus_pass
      - POSTGRES_DB=nexus_core
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: